<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/main.js"></script>
</head>

<body id="body">

	<%
		nav = ["Home", "Menu", "Our Story", "Contact"] 
		pages = ["/", "menu", "story", "contact"] 
	%>
	<div class="nav">
	<ul class="pull-left" style="list-style-type: none; padding-left: 0">

	<!-- start ruby -->	
	<% nav.each_with_index do |nav_item, nav_index| %>
		<li style="display:inline-block">
			<a href="<%= pages[nav_index] %>">
				<%= nav_item %>
			</a>	
		</li>
	<% end %>
	<!-- end ruby -->

	</ul>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class ="col-md-6">
					<div class="img-container">
						<img src="/images/vdrlogo.jpg">
					</div>
				</div>
				<div class ="col-md-6">
					<div class="banner-text">
						<h1><%= @banner_text %></h1>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- start ruby -->
	<%= yield %>	
	<!-- end ruby -->
<hr>
<div class="footer-container">
	<div class="row">
		<div class="col-md-4">
			<h5>Villa di Roma</h4>
			<p>936 S 9th St</p>
			<p>Philadelphia, PA 19147</p>
			<p>215-592-1295 </p>
		</div>
		<div class="col-md-4">
			<h5>Hours</h5>
			<p>Mon: 4pm-10pm</p>
			<p>Tue-Sun: 12pm-10pm</p>
		</div>
		<div class="col-md-4">
			<h5>Find us on Facebook!</h5>
			<a href="https://www.facebook.com/villadiromasouthphilly" target="_blank">
				<img src="/images/fbicon.png" height="60px" width="auto">
			</a>

		</div>


	</div>

</div>
</body>
</html>